<% unless @client_company.orders.empty? %>
  <% @client_company.orders.each do |order|%>
    <%= link_to order.order_token, admin_order_path(order.order_token) %>
    <%= order.client_product.name %>
    <%= order.client_external.cpf %>
    <%= order.due_date %>
  <% end %>
<% else %>
  <h1> Nenhum cobrança cadastrada </h1>
<% end %>