<% if @pix_accounts.empty? %>
  <h1>Nenhum dado de pix cadastrado</h1>
<% else %>
  <%@pix_accounts.each do |account|%>
    <% if account.payment_method.ativado?%>
      <div id="pix_account">
        <%= link_to account.payment_method.name, user_client_company_pix_account_path(account.client_company_id, account.id)%>
        <%= account.pix_code %>
        <%if current_user.admin?%>
          <p> <%= link_to 'Apagar', user_client_company_pix_account_path(account.id, account.client_company_id), method: :delete %></p>
        <% end %>
      </div>
    <%end%>
  <%end%>
<% end %>

<p><%= link_to 'Cadastrar dados de Pix', new_user_client_company_pix_account_path(current_user.client_company_id) %></p>