<% if @client_products.present?%>
  <% @client_products.each do |product| %>
    <%= link_to product.name, user_client_company_client_product_path(product.client_company, product.product_token) %>
    <%= number_to_currency product.price %>
  <% end %>
<% else %>
  <h1>Nenhum produto encontrado</h1>
<% end %>

<p><%= link_to 'Cadastrar produto', new_user_client_company_client_product_path(current_user.client_company_id) %></p>